@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Seymour+One&display=swap');

/* Universal */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  background-color: black;
  padding-bottom: 50px;

}

h1 {
  font-family: 'Seymour One', sans-serif;
  color: rgb(0, 0, 0);
  font-size: 150px;
  text-align: center;

  -webkit-text-stroke: 1px rgb(255, 255, 255);
}

h2 {
  font-family: 'Seymour One', sans-serif;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  font-size: 60px;
  text-align: center;

}

p {
  font-family: 'Roboto', sans-serif;
  color: rgb(189, 198, 198);
  width: auto;
  margin-top: 5px;
}

.container {
  height: auto;
  margin-bottom: 50px;
}


/* particles */

.particle-container {
  height: 580px;
  width: 100%;
  overflow: hidden;
  position: flex;
  filter: url(#goo);
}

.particle {
  width: 100px;
  height: 100px;
  top: -20%;
  position: absolute;
  border-radius: 0px 50% 50% 50%;
  transform: rotate(45deg);
  animation: fall 13s infinite;
  
}

@keyframes fall {
  0% {
    top: -20%;
    background: white;
  }

  0% {
    top: 0%;
    background: white;
  }

  15% {
    top: 15%;
    background: white;
  }

  50% {
    top: 50%;
    background: white;
  }

  80% {
    top: 85%;
    background:white;
  }

  100% {
    top: 100%;
    background: white;
  }
}


.particle:nth-of-type(2n) {
  width: 60px;
  height: 60px;
  background-color: rgb(0, 0, 0);

}

.particle:nth-of-type(3n) {
  width: 120px;
  height: 120px;
  background-color: rgb(0, 0, 0);
}

.particle:nth-of-type(1) {
  left: 20%;
  animation-delay: 1s;
  
}

.particle:nth-of-type(2) {
  left: 70%;
  animation-delay: 2s;
  
}

.particle:nth-of-type(3) {
  left: 25%;
  animation-delay: 3s;
  
}

.particle:nth-of-type(4) {
  left: 75%;
  animation-delay: 4s;
  
}

.particle:nth-of-type(5) {
  left: 85%;
  animation-delay: 5s;
 
}

.particle:nth-of-type(6) {
  left: 50%;
  animation-delay: 6s;
 
}

.particle:nth-of-type(7) {
  left: 45%;
  animation-delay: 7s;
 
}

.particle:nth-of-type(8) {
  left: 35%;
  animation-delay: 8s;
 
}

.particle:nth-of-type(9) {
  left: 95%;
  animation-delay: 9s;
 
}

.particle:nth-of-type(10) {
  left: 5%;
  animation-delay: 10s;
  
}

.particle:nth-of-type(11) {
  left: 65%;
  animation-delay: 11s;
 
}

.particle:nth-of-type(12) {
  left: 20%;
  animation-delay: 12s;
 
}

.particle:nth-of-type(13) {
  left: 87%;
  animation-delay: 13s;
  
}

.particle:nth-of-type(14) {
  left: 0%;
  animation-delay: 14s;
  
}

.particle:nth-of-type(15) {
  left: 60%;
  animation-delay: 15s;
 
}

.particle:nth-of-type(16) {
  left: 90%;
  animation-delay: 16s;
  
}

.particle:nth-of-type(17) {
  left: 60%;
  animation-delay: 67s;
 
}

.particle:nth-of-type(18) {
  left: 80%;
  animation-delay: 38s;

}

.border {
  position: absolute;
  background-color: rgb(0, 0, 0);
  border: 1px solid black;
  width: 100%;
  height: 0%;
}

.border:nth-last-of-type(1) {
  top: 0;
  left: 0;
}

.border:nth-last-of-type(2) {
  bottom: 0;
  left: 0;
}


.container-fluid {
  margin-bottom: 40px;
}

/* Navbar */
.navbar {
  border-bottom: 1px solid rgb(255, 255, 255);
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgb(0, 0, 0);

}


.navbar img {
  padding: 0px;
  margin: 0 auto;
  width: 200px;
  height: 100px
}


/* Home container */



/* about container */


.about-container {

  padding: 20px;
  margin-bottom: 0px;
}

.about-image {
  height: 400px;
  width: 400px;
  z-index: -4;
}

/* skill container */
.skill-container {
  margin-bottom: 20px;
  z-index: 1;
}


.progress {
  margin-top: 5px;
  margin-bottom: 25px;
  height: 25px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;

}

.progress-bar {
  color: black;
}

.html {
  background-color: rgb(255, 0, 0);
}

.css {
  background-color: orange;
}

.javascript {
  background-color: yellow;
}

.python {
  background-color: rgb(149, 216, 81);
}

.adobe {
  background-color: rgb(2, 185, 2);
}

.microsoft {
  background-color: rgb(47, 136, 246);
}

.git {
  background-color: rgb(222, 107, 245);
}

.journalism {
  background-color: rgb(193, 135, 247);
}

/* carsoul */
.carousel-item img {
  height: 500px;
  width: 200px;
}

/* projects */
.projects {

  margin-bottom: 350px;
}

.projects img {
  width: 400px;
  margin-top: 30px;
}

.caption {
  width: 400px;
}

/* contact section */
.contact-container {
  padding: 20px;
  margin-bottom: 80px;
}



.fa-1x{
  color: rgb(159, 160, 161);
  text-align: center;
}

.fa-1x a{ 
  color: rgb(159, 160, 161);
  text-align: center;
  
}
label { color:rgb(213, 213, 213); }
