@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Seymour+One&display=swap');

/* Universal */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  background-color: black;
  padding-bottom: 50px;

}

h1 {
  font-family: 'Seymour One', sans-serif;
  color: rgb(250, 250, 250);
  font-size: 150px;
  text-align: center;
  margin-bottom: -30px;

}

h2 {
  font-family: 'Seymour One', sans-serif;
  color: rgb(250, 250, 250);
  font-size: 60px;
  text-align: center;

}

p {
  font-family: 'Roboto', sans-serif;
  color: rgb(189, 198, 198);
  width: 550px;
  margin-top: 5px;
}

.container {
  height: auto;
  margin-bottom: 50px;
}

.container-fluid {

  margin-bottom: 40px;
}

/* Navbar */
.navbar {
  border-bottom: 1px solid rgb(255, 255, 255);
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: rgb(0, 0, 0);

}


.navbar img {
  padding: 0px;
  margin: 0 auto;
  width: 200px;
  height: 100px
}


/* Home container */
.home-image {
  height: 500px;
  width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -150px;
}



/* about container */


.about-container {

  padding: 20px;
  margin-bottom: 0px;
}

.about-image {
  height: 400px;
  width: 400px;

}

/* skill container */
.skill-container {
  margin-bottom: 150px;
}


.progress {
  margin-top: 5px;
  margin-bottom: 25px;
  height: 25px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;

}

.progress-bar {
  color: black;
}

.html {
  background-color: rgb(255, 0, 0);
}

.css {
  background-color: orange;
}

.javascript {
  background-color: yellow;
}

.python {
  background-color: rgb(149, 216, 81);
}

.adobe {
  background-color: rgb(2, 185, 2);
}

.microsoft {
  background-color: rgb(47, 117, 246);
}

.git {
  background-color: rgb(38, 14, 200);
}

.journalism {
  background-color: rgb(92, 10, 168);
}

/* carsoul */
.carousel-item img {
  height: 500px;
  width: 300px;
}

/* projects */
.projects {
  height: 50px;
  width: 100px;
  margin-bottom: 350px;
}

.projects img {
  width: 400px;
  margin-top: 30px;
}

.caption {
  width: 400px;
}

/* contact section */
.contact-container {
  padding: 20px;
  margin-bottom: 80px;
}

#contact-p {
  width: 400px;
  text-align: left;
  padding: 25px
}